<!DOCTYPE html>    
<html>    
<head>    
    <title>ISE Secuirty Team Meat Raffle</title>    
</head>    
<body>    
    <h1>ISE Secuirty Team Meat Raffle</h1>    
    {% for name, points in names.items() %}    
        <form action="/add_point/{{ name }}" method="post">    
            <input type="submit" value="{{ name }}: {{ points }}">    
        </form>    
        {% for i in range(points) %}  
            <img src="{{ url_for('static', filename='bacon.jpg') }}" alt="bacon strip" style="width:3%;">  
        {% endfor %}  
    {% endfor %}    
    <form action="/random_winner" method="post">    
        <input type="submit" value="Draw a random winner">    
    </form>    
    <form action="/reset" method="post">  
        <input type="submit" value="Reset">  
    </form>  
    {% if winner %}    
        <h2>The winner is: {{ winner }}</h2>    
    {% endif %}    
</body>    
</html>    
